# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~

# General
log/
*.log

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
